<!-- travel_app/templates/travel_app/index.html -->
{% extends 'travel_app/base.html' %}

{% block title %}Recommendation System{% endblock %}

{% block header_class %}site-header{% endblock %}

{% block content %}
    <div id="hero" class="hero overlay">
        <div class="hero-content">
            <div class="hero-text">
                <h1>Find Your Travel</h1>
                <p>Рекомендательный сайт по поиску места для отдыха.</p>
                <a href="{% url 'search' %}" class="btn btn-border">Найти</a>
            </div>
        </div>
    </div>

    {% if request.user.is_authenticated and recommendations %}
            <section class="site-section section-recommendations">
                <div class="container">
                    <div class="text-center">
                        <h2 class="heading-separator">Вам может понравиться</h2>
                    </div>
                    <div class="row">
                        {% for rec in recommendations %}
                            <div class="col-lg-3 col-md-4 col-xs-6">
                                <div class="portfolio-item">
                                    {% if rec.destination.image %}
                                        <img src="{{ rec.destination.image.url }}" class="img-res" alt="">
                                    {% endif %}
                                    <h4 class="portfolio-item-title">{{ rec.destination.recommendation }}</h4>
                                    <a href="{% url 'destination_detail' pk=rec.destination.pk %}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
    
    {% if request.user.is_authenticated and similar_users_recommendations %}
        <section class="site-section section-recommendations">
            <div class="container">
                <div class="text-center">
                    <h2 class="heading-separator">Похожие путешественники выбирают</h2>
                </div>
                <div class="row">
                    {% for rec in similar_users_recommendations %}
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="portfolio-item">
                                {% if rec.destination.image %}
                                    <img src="{{ rec.destination.image.url }}" class="img-res" alt="">
                                {% endif %}
                                <h4 class="portfolio-item-title">{{ rec.destination.recommendation }}</h4>
                                <a href="{% url 'destination_detail' pk=rec.destination.pk %}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    {% if seasonal_destinations %}
    <section class="site-section section-recommendations">
        <div class="container">
            <div class="text-center">
                <h2 class="heading-separator">Популярно {{ seasonal_destinations.0.season|lower }}</h2>
            </div>
            <div class="row">
                {% for dest in seasonal_destinations %}
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            {% if dest.image %}
                                <img src="{{ dest.image.url }}" class="img-res" alt="">
                            {% endif %}
                            <h4 class="portfolio-item-title">{{ dest.recommendation }}</h4>
                            <a href="{% url 'destination_detail' pk=dest.pk %}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}

    {% if personalized_seasonal %}
<section class="site-section section-recommendations">
    <div class="container">
        <div class="text-center">
            <h2 class="heading-separator">На волне сезона</h2>
        </div>
        <div class="row">
            {% for dest in personalized_seasonal %}
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="portfolio-item">
                        {% if dest.image %}
                            <img src="{{ dest.image.url }}" class="img-res" alt="">
                        {% endif %}
                        <h4 class="portfolio-item-title">{{ dest.recommendation }}</h4>
                        <a href="{% url 'destination_detail' pk=dest.pk %}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
    
    {% if inspiration_recommendations %}
<section class="site-section section-recommendations">
    <div class="container">
        <div class="text-center">
            <h2 class="heading-separator">Подборка для вдохновения</h2>
        </div>
        <div class="row">
            {% for rec in inspiration_recommendations %}
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="portfolio-item">
                        {% if rec.destination.image %}
                            <img src="{{ rec.destination.image.url }}" class="img-res" alt="">
                        {% endif %}
                        <h4 class="portfolio-item-title">{{ rec.destination.recommendation }}</h4>
                        <a href="{% url 'destination_detail' pk=rec.destination.pk %}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
    
    
    {% if trending_recommendations %}
<section class="site-section section-recommendations">
    <div class="container">
        <div class="text-center">
            <h2 class="heading-separator">Популярное сейчас</h2>
        </div>
        <div class="row">
            {% for rec in trending_recommendations %}
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="portfolio-item">
                        {% if rec.destination.image %}
                            <img src="{{ rec.destination.image.url }}" class="img-res" alt="">
                        {% endif %}
                        <h4 class="portfolio-item-title">{{ rec.destination.recommendation }}</h4>
                        <a href="{% url 'destination_detail' pk=rec.destination.pk %}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
    
{#    <main id="main" class="site-main">#}
{#        <section class="site-section section-features">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-sm-5">#}
{#                        <h2>О проекте</h2>#}
{#                        <p>Проект "Find Your Travel" — это инновационный веб-ресурс, разработанный в рамках курса Web-технологии. Цель проекта — предоставить пользователям удобный инструмент для выбора идеального места отдыха, учитывая их индивидуальные предпочтения.</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}

        <section class="site-section section-portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="heading-separator">Все предложения</h2>
                </div>
                <div class="row">
                    {% for destination in all_destinations %}
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="portfolio-item">
                                {% if destination.image %}
                                    <img src="{{ destination.image.url }}" class="img-res" alt="">
                                {% endif %}
                                <h4 class="portfolio-item-title">{{ destination.recommendation }}</h4>
                                <a href="{% url 'destination_detail' pk=destination.pk %}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn-fill mb-10" href="{% url 'show_all' %}">Показать все</a>
            </div>
        </section>
    </main>
<div class="chat-widget glass-effect">
    <div id="chat-output"></div>
    <form id="chat-form">
    {% csrf_token %}
    <input type="text" name="message" class="form-control" placeholder="Куда поехать?">
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>

</div>
{% endblock %}
