{% extends 'travel_app/base.html' %}
{% load static %}

{% block title %}Профиль{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'travel_app/profile.css' %}">
{% endblock %}

{% block content %}
    <div id="hero" class="hero overlay subpage-hero blog-hero">
        <div class="hero-content">
            <div class="hero-text">
                <h1>Профиль</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Привет, {{ user.username }}</li>
                </ol>
            </div>
        </div>
    </div>

    <main id="main" class="site-main">
        <section class="site-section subpage-site-section section-blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#saved-locations" aria-controls="saved-locations" role="tab" data-toggle="tab">Сохраненные локации</a>
                            </li>
                            <li role="presentation">
                                <a href="#my-reviews" aria-controls="my-reviews" role="tab" data-toggle="tab">Мои отзывы</a>
                            </li>
                            <li role="presentation">
                                <a href="#my-content" aria-controls="my-content" role="tab" data-toggle="tab">Мой контент</a>
                            </li>
                            <li role="presentation">
                                <a href="#inspiration" aria-controls="inspiration" role="tab" data-toggle="tab">Вдохновение</a>
                            </li>
                            <li role="presentation">
                                <a href="#liked-posts" aria-controls="liked-posts" role="tab" data-toggle="tab">Понравившиеся посты</a>
                            </li>
                            <li role="presentation">
    <a href="#my-routes" aria-controls="my-routes" role="tab" data-toggle="tab">Мои маршруты</a>
</li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="saved-locations">
                                <article class="blog-post">
                                    <div class="post-content">
                                        <h3 class="post-title">Ваши сохраненные локации:</h3>
                                        {% if user.userprofile.results.all %}
                                            <ul>
                                                {% for result in user.userprofile.results.all %}
                                                    <li>
                                                        <span>{{ result.recommendation }}</span>
                                                        <form method="post" action="{% url 'delete_result' result.id %}" style="display:inline;">
                                                            {% csrf_token %}
                                                            <button type="submit" class="delete-icon">🗑</button>
                                                        </form>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <p>У вас пока нет сохраненных локаций.</p>
                                        {% endif %}
                                    </div>
                                </article>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="my-reviews">
                                <article class="blog-post">
                                    <div class="post-content">
                                        <h3 class="post-title">Мои отзывы:</h3>
                                        {% if user.userprofile.reviews.all %}
                                            <ul>
                                                {% for review in user.userprofile.reviews.all %}
                                                    <li>
                                                        <div style="display: flex; justify-content: space-between; align-items: center;">
                                                            <div>
                                                                <h4>{{ review.destination.recommendation }}</h4>
                                                                <p>Рейтинг: {{ review.rating }}</p>
                                                                <p>{{ review.text }}</p>
                                                                <p>Дата: {{ review.created_at }}</p>
                                                            </div>
                                                            <form method="post" action="{% url 'delete_review' review.id %}" style="display: inline;">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="next" value="{{ request.path }}">
                                                                <button type="submit" class="delete-icon">🗑</button>
                                                            </form>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <p>Вы еще не оставляли отзывов.</p>
                                        {% endif %}
                                    </div>
                                </article>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="my-content">
                                <article class="blog-post">
                                    <div class="post-content">
                                        <h3 class="post-title">Мой контент:</h3>
                                        {% if user_posts %}
                                            {% for post in user_posts %}
                                                <div class="post-card glass-effect" data-post-id="{{ post.id }}">
                                                    <div class="post-image">
                                                        <img src="{{ post.image.url }}" alt="{{ post.description|truncatechars:50 }}">
                                                    </div>
                                                    <div class="post-content">
                                                        <h4>
                                                            {% if post.destination %}
                                                                {{ post.destination.recommendation }}
                                                            {% else %}
                                                                {{ post.pending_destination.name }}
                                                            {% endif %}
                                                        </h4>
                                                        <p>{{ post.description|truncatechars:100 }}</p>
                                                        <p>Дата: {{ post.created_at|date:"d.m.Y" }}</p>
                                                        <p class="likes-count">Лайков: {{ post.likes.count }}</p>
                                                        <form method="post" action="{% url 'delete_post' post.id %}" style="display:inline">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="next" value="{{ request.path }}">
                                                            <button type="submit" class="delete-icon">🗑</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <p>Вы еще не создавали постов.</p>
                                        {% endif %}
                                    </div>
                                </article>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="inspiration">
                                <article class="blog-post">
                                    <div class="post-content">
                                        <h3 class="post-title">Вдохновение:</h3>
                                        {% if saved_posts %}
                                            {% for post in saved_posts %}
                                                <div class="post-card glass-effect" data-post-id="{{ post.id }}">
                                                    <div class="post-image">
                                                        <img src="{{ post.image.url }}" alt="{{ post.description|truncatechars:50 }}">
                                                    </div>
                                                    <div class="post-content">
                                                        <h4>
                                                            {% if post.destination %}
                                                                {{ post.destination.recommendation }}
                                                            {% else %}
                                                                {{ post.pending_destination.name }}
                                                            {% endif %}
                                                        </h4>
                                                        <p>{{ post.description|truncatechars:100 }}</p>
                                                        <p>Автор: {{ post.user.username }} | Дата: {{ post.created_at|date:"d.m.Y" }}</p>
                                                        <p class="likes-count">Лайков: {{ post.likes.count }}</p>
                                                        <form method="post" action="{% url 'remove_saved_post' post.id %}" style="display: inline;">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="next" value="{{ request.path }}">
                                                            <button type="submit" class="delete-icon">🗑</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <p>У вас пока нет сохраненных постов для вдохновения.</p>
                                        {% endif %}
                                    </div>
                                </article>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="liked-posts">
                                <article class="blog-post">
                                    <div class="post-content">
                                        <h3 class="post-title">Понравившиеся посты:</h3>
                                        {% if liked_posts %}
                                            {% for post in liked_posts %}
                                                <div class="post-card glass-effect" data-post-id="{{ post.id }}">
                                                    <div class="post-image">
                                                        <img src="{{ post.image.url }}" alt="{{ post.description|truncatechars:100 }}">
                                                    </div>
                                                    <div class="post-content">
                                                        <h4>
                                                            {% if post.destination %}
                                                                {{ post.destination.recommendation }}
                                                            {% else %}
                                                                {{ post.pending_destination.name }}
                                                            {% endif %}
                                                        </h4>
                                                        <p>{{ post.description|truncatechars:100 }}</p>
                                                        <p>Автор: {{ post.user.username }} | Дата: {{ post.created_at|date:"d.m.Y" }}</p>
                                                        <p class="likes-count">Лайков: {{ post.likes.count }}</p>
                                                        <form method="post" action="{% url 'toggle_like_post' post.id %}" style="display: inline;">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="next" value="{{ request.path }}">
                                                            <button type="submit" class="delete-icon" title="Убрать лайк">❤️</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <p>Вы еще не лайкали посты.</p>
                                        {% endif %}
                                    </div>
                                </article>
                            </div>
                        <div role="tabpanel" class="tab-pane" id="my-routes">
                                <article class="blog-post">
                                    <div class="post-content">
                                        <h3 class="post-title">Мои маршруты:</h3>
                                        {% if user.userprofile.routes.all %}
                                            {% for route in user.userprofile.routes.all %}
                                                <div class="route-card glass-effect">
                                                    <div class="route-content">
                                                        <h4>{{ route.title }}</h4>
                                                        <p>{{ route.description|truncatechars:100 }}</p>
                                                        <p>Дата создания: {{ route.created_at|date:"d.m.Y" }}</p>
                                                    </div>
                                                    <a href="{% url 'edit_route' route.id %}" class="edit-icon" title="Редактировать">✏️</a>
                                                    <form method="post" action="{% url 'delete_route' route.id %}" style="display:inline;">
                                                        {% csrf_token %}
                                                        <button type="submit" class="delete-icon" title="Удалить">🗑</button>
                                                    </form>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <p>Вы еще не создавали маршрутов.</p>
                                        {% endif %}
                                    <a href="{% url 'create_route' %}" class="btn btn-primary mb-3">Создать маршрут</a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% include 'travel_app/modal_post.html' %}
    {% block extra_scripts %}
<link rel="stylesheet" href="{% static 'js/profile.js' %}">
{% endblock %}
{% endblock %}
