<!-- travel_app/templates/travel_app/profile.html -->
{% extends 'travel_app/base.html' %}

{% block title %}Profile | Find Your Travel{% endblock %}

{% block content %}
    <div id="hero" class="hero overlay subpage-hero blog-hero">
        <div class="hero-content">
            <div class="hero-text">
                <h1>Профиль</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Привет, {{ user.username }}</li>
                </ol>
            </div>
        </div>
    </div>

    <main id="main" class="site-main">
        <section class="site-section subpage-site-section section-blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#saved-locations" aria-controls="saved-locations" role="tab" data-toggle="tab">Сохраненные локации</a>
                            </li>
                            <li role="presentation">
                                <a href="#my-reviews" aria-controls="my-reviews" role="tab" data-toggle="tab">Мои отзывы</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="saved-locations">
                                <article class="blog-post">
                                    <div class="post-content">
                                        <h3 class="post-title">Ваши сохраненные локации:</h3>
                                        {% if user.userprofile.results.all %}
                                            <ul>
                                                {% for result in user.userprofile.results.all %}
                                                    <li>
                                                        <span>{{ result.recommendation }}</span>
                                                        <form method="post" action="{% url 'delete_result' result.id %}" style="display:inline;">
                                                            {% csrf_token %}
                                                            <button type="submit" class="delete-icon">🗑</button>
                                                        </form>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <p>У вас пока нет сохраненных локаций.</p>
                                        {% endif %}
                                    </div>
                                </article>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="my-reviews">
                                <article class="blog-post">
                                    <div class="post-content">
                                        <h3 class="post-title">Мои отзывы:</h3>
                                        {% if user.userprofile.reviews.all %}
                                            <ul>
                                                {% for review in user.userprofile.reviews.all %}
                                                    <li>
                                                        <div style="display: flex; justify-content: space-between; align-items: center;">
                                                            <div>
                                                                <h4>{{ review.destination.recommendation }}</h4>
                                                                <p>Рейтинг: {{ review.rating }}</p>
                                                                <p>{{ review.text }}</p>
                                                                <p>Дата: {{ review.created_at }}</p>
                                                            </div>
                                                            <form method="post" action="{% url 'delete_review' review.id %}" style="display: inline;">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="next" value="{{ request.path }}">
                                                                <button type="submit" class="delete-icon">🗑</button>
                                                            </form>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <p>Вы еще не оставляли отзывов.</p>
                                        {% endif %}
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
