<!-- travel_app/templates/travel_app/review.html -->
{% extends 'travel_app/base.html' %}

{% block title %}Добавить отзыв | Find Your Travel{% endblock %}

{% block content %}
    <div id="hero" class="hero overlay subpage-hero" style="background-image: url('{{ destination.image.url }}');">
        <div class="hero-content">
            <div class="hero-text">
                <h1>{{ destination.recommendation }}</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item active">{{ destination.recommendation }}</li>
                </ol>
            </div>
        </div>
    </div>

    <main id="main" class="site-main">
        <section class="site-section subpage-site-section section-project">
            <div class="container">
                <div class="review-block">
                    <div class="review-title">Отзыв</div>
                    {% if messages %}
                        <div id="message-container">
                            {% for message in messages %}
                                <div class="messages">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <form method="post" action="{% url 'add_review' pk=destination.pk %}">
                        {% csrf_token %}
                        <div class="stars" title="Rate">
                            <span class="fa fa-star star" data-value="1" title="Ужасно"><span class="tooltip">Ужасно</span></span>
                            <span class="fa fa-star star" data-value="2" title="Плохо"><span class="tooltip">Плохо</span></span>
                            <span class="fa fa-star star" data-value="3" title="Нормально"><span class="tooltip">Нормально</span></span>
                            <span class="fa fa-star star" data-value="4" title="Хорошо"><span class="tooltip">Хорошо</span></span>
                            <span class="fa fa-star star" data-value="5" title="Отлично"><span class="tooltip">Отлично</span></span>
                        </div>
                        <div class="comment-title">Напишите свое мнение</div>
                        <textarea class="form-control comment-box" name="text" rows="5" id="comment-box">{% if form.text.value %}{{ form.text.value }}{% endif %}</textarea>
                        <small id="char-count">0/50 символов</small>
                        <br>
                        <button type="submit" class="btn btn-primary submit-btn">Добавить</button>
                        <input type="hidden" name="rating" id="rating-input" value="{% if form.rating.value %}{{ form.rating.value }}{% else %}0{% endif %}">
                    </form>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
